@{
    ViewBag.Title = "Equipments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContext.Current.Response.Cache.SetAllowResponseInBrowserHistory(false);
    HttpContext.Current.Response.Cache.SetCacheability(HttpCacheability.NoCache);
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MainMenu">Home</a></li>
        <li class="breadcrumb-item"><a href="../EquipmentManagementMenu">Equipment Menu</a></li>
        <li class="breadcrumb-item active" aria-current="page">Equipments</li>
    </ol>
</nav>
@Html.Partial("_ProfilePartial")
<div id="table_background">
    <p>Equipments</p>
    <table id="vehiclesTable" class="display"></table>
    <div id="multipleButtons">
        <div id="addButton" onclick="window.location.href = '@Url.Action("Index", "AddEquipment")'">Add Equipment</div>
        <div id="addButton" onclick="@{Session["Referrer"] = System.IO.Path.GetFileName(Request.Url.AbsolutePath);} window.location.href = '@Url.Action("Index", "SelectEquipment", new { button = "Assign"})'">Assign Equipment</div>
    </div>
    <div id="backButton" onclick="window.location.href = '@Url.Action("Index", "EquipmentManagementMenu")'">Back</div>
</div>
<style>
    #table_background p {
        font-size: 25px;
        text-align: center;
    }

    #table_background {
        position: absolute;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(128, 128, 128, 0.95);
        height: auto;
        min-width: 600px;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
    }

    #vehiclesTable {
        background-color: #5a9ad6;
        font-size: 14px;
    }

    #multipleButtons {
        display: flex;
        flex-direction: row;
    }

    #addButton {
        position: relative;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #addButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #addBookingButton {
        position: relative;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #addBookingButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #backButton {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-left: 2vh;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #backButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #breadcrumb {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .breadcrumb-item {
        font-size: 25px;
    }

    .breadcrumb {
        top: 0;
        background-color: #33363b !important;
        padding-left: 60px !important;
    }

    #profile {
        position: relative;
        z-index: 7979;
        margin-left: auto;
        margin-bottom: auto;
        height: 61px;
        width: 20%;
        background-color: #33363b;
        transform: translateX(-3px);
    }

        #profile a {
            display: table;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 25px;
            text-decoration: none !important;
            color: #5a9ad6;
            line-height: 61px;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }

    .glyphicon {
        margin-left: 6px;
    }

    .dropdown-menu {
        background-color: #33363b;
    }

        .dropdown-menu li a {
            color: #5a9ad6;
        }
</style>
<script>
    var table;
    $(document).ready(function () {
        table = $('#vehiclesTable').DataTable({
            serverSide: true,
            ajax: "/Equipments/PageData",
            autoWidth: true,
            scrollX: true,
            columns: [
                {
                    name: 'equipmentID',
                    data: 'equipmentID',
                    title: "ID",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'manufacturerName',
                    data: "manufacturerName",
                    title: "Manufacturer Name",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'modelNumber',
                    data: "modelNumber",
                    title: "Model Number",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'datePurchased',
                    data: "datePurchased",
                    title: "Date Purchased",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'serviceIntervalMonths',
                    data: "serviceIntervalMonths",
                    title: "Service Interval in Months",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'status',
                    data: "status",
                    title: "Status",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'userName',
                    data: "userName",
                    title: "User Full Name",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'typeName',
                    data: "typeName",
                    title: "Type Name",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'removable',
                    data: "removable",
                    title: "Removable",
                    sortable: true,
                    searchable: true
                },
                {
                    "targets": -1,
                    "data": null,
                    "defaultContent": '<i class="glyphicon glyphicon-eye-open"></i>',
                    sortable: false,
                },
                {
                    "targets": -2,
                    "data": null,
                    "defaultContent": '<i class="glyphicon glyphicon-pencil"></i>',
                    sortable: false,
                },
                {
                    "targets": -3,
                    "data": null,
                    "defaultContent": '<i class="glyphicon glyphicon-trash"></i>',
                    sortable: false,
                }
            ]
        });
    });

    @Model.JavaScriptToRun
    function mySuccess() {
        swal("You have successfully added an Equipment", {
            icon: "success",
        });
        //window.location = "/Vehicles/Index";
    }

    @TempData["js"];
    function myUpdateSuccess() {
        swal("You have successfully updated the Equipment", {
            icon: "success",
        });
    }

    $.ajax({
        type: "POST",
        url: '@Url.Action("SetTempData", "Equipments")',
        success: function () {

        }
    });

    $('#vehiclesTable').on('click', '.glyphicon-eye-open', function () {
        var data = table.row($(this).parents('tr')).data();
        var equipmentID = data["equipmentID"];

        $.ajax({
            url: '@Url.Action("RedirectToEquipmentDetails", "EquipmentDetails")',
            type: 'POST',
            data: { equipmentID: equipmentID },
            dataType: 'json',
            success: function (data) {
                window.location.href = data.Url; // your action should return an object having [redirecturl] property
            }
        });
    });

    $('#vehiclesTable').on('click', '.glyphicon-pencil', function () {
        var data = table.row($(this).parents('tr')).data();
        var equipmentID = data["equipmentID"];
        @{Session["Referrer"] = System.IO.Path.GetFileName(Request.Url.AbsolutePath);}

        $.ajax({
            url: '@Url.Action("RedirectToModifyEquipmentDetails", "ModifyEquipmentDetails")',
            type: 'POST',
            data: { equipmentID: equipmentID },
            dataType: 'json',
            success: function (data) {
                window.location.href = data.Url;
            }
        });
    });

    $('#vehiclesTable').on('click', '.glyphicon-trash', function () {
        var data = table.row($(this).parents('tr')).data();
        var equipmentID = data["equipmentID"];

        swal({
            title: "Are you sure you want to write-off this Equipment?",
            icon: "warning",
            dangerMode: true,
            buttons: [
                true,
                "Yes",
            ],
            closeOnClickOutside: false,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Equipments")',
                        type: 'POST',
                        data: { equipmentID: equipmentID },
                        dataType: 'json',
                        success: function (data) {
                            if (data.Url != "Error") {
                                swal("You have successfully written off the Equipment", {
                                    icon: "success",
                                }).then(() => {
                                    window.location.href = data.Url;
                                });
                            }
                            else {
                                swal("Error has occurred", {
                                    icon: "error",
                                });
                            }
                        }
                    });
                }
            });
    });
</script>