@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContext.Current.Response.Cache.SetAllowResponseInBrowserHistory(false);
    HttpContext.Current.Response.Cache.SetCacheability(HttpCacheability.NoCache);
    @model CompuData.Models.Project
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MainMenu">Home</a></li>
        <li class="breadcrumb-item"><a href="../ProjectManagementMenu">Project Management Menu</a></li>
        <li class="breadcrumb-item"><a href="../Project">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Archived Projects</li>
    </ol>
</nav>

@Html.Partial("_ProfilePartial")

<div id="table_background">
    <p>Projects</p>
    <table id="table_id" class="display" cellspacing="0"></table>
    @Html.HiddenFor(model => model.JavaScriptToRun)
    <div id="multipleButtons">
        <div id="addButton" onclick="window.location.href = '@Url.Action("Index", "AddProject")'">Add Project</div>
    </div>
    <div id="backButton" onclick="window.location.href = '@Url.Action("Index", "ProjectManagementMenu")'">Back</div>
</div>

<style>
    th, td {
        white-space: nowrap;
    }

    #table_background p {
        font-size: 25px;
        text-align: center;
    }

    #table_background {
        position: absolute;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(128, 128, 128, 0.95);
        height: auto;
        min-width: 600px;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
    }

    .dataTable {
        background-color: #5a9ad6;
        font-size: 14px;
    }

    #multipleButtons {
        display: flex;
        flex-direction: row;
    }

    #addButton {
        position: relative;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #addButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #addBookingButton {
        position: relative;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #addBookingButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #backButton {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-left: 2vh;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #backButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #breadcrumb {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .breadcrumb-item {
        font-size: 25px;
    }

    .breadcrumb {
        top: 0;
        background-color: #33363b !important;
        padding-left: 60px !important;
    }

    #profile {
        position: relative;
        z-index: 7979;
        margin-left: auto;
        margin-bottom: auto;
        height: 61px;
        width: 20%;
        background-color: #33363b;
        transform: translateX(-3px);
    }

        #profile a {
            display: table;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 25px;
            text-decoration: none !important;
            color: #5a9ad6;
            line-height: 61px;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }

    .glyphicon {
        margin-left: 6px;
    }

    .dropdown-menu {
        background-color: #33363b;
    }

        .dropdown-menu li a {
            color: #5a9ad6;
        }
</style>

<script>
    var table;
    $(document).ready(function () {
        table = $('#table_id').DataTable({
            serverSide: true,
            ajax: "/ProjectArchived/PageData",
            autoWidth: true,
            scrollX: true,
            columns: [
                {
                    name: 'projectID',
                    data: 'projectID',
                    title: "ID",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'projectName',
                    data: "projectName",
                    title: "Project Name",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'startDate',
                    data: "startDate",
                    title: "Start Date",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'expectedFinishDate',
                    data: "expectedFinishDate",
                    title: "Expected Complete Date",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'finished',
                    data: "finished",
                    title: "Completed",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'projectDescription',
                    data: "projectDescription",
                    title: "Project Description",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'typeName',
                    data: "typeName",
                    title: "Type Name",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'userInitials',
                    data: "userInitials",
                    title: "User Initials",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'userLastName',
                    data: "userLastName",
                    title: "User Last Name",
                    sortable: true,
                    searchable: true
                },
                {
                    "targets": -1,
                    "data": null,
                    "defaultContent": '<i class="glyphicon glyphicon-eye-open"></i>',
                    sortable: false,
                },
            ]
        });
    });

    @Model.JavaScriptToRun
    function mySuccess() {
        swal("You have successfully added a Project", {
            icon: "success",
        });
        $("#JavaScriptToRun").val("");
    }

    @TempData["js"];
    function myUpdateSuccess() {
        swal("You have successfully updated the Project", {
            icon: "success",
        });
    }

    $.ajax({
        type: "POST",
        url: '@Url.Action("SetTempData","Project")',
        success: function () {

        }
    });

    $('#table_id').on('click', '.glyphicon-eye-open', function () {
        var data = table.row($(this).parents('tr')).data();
        var projectID = data["projectID"];

        $.ajax({
            url: '@Url.Action("RedirectToProjectDetails", "ProjectDetails")',
            type: 'POST',
            data: { projectID: projectID },
            dataType: 'json',
            success: function (data) {
                window.location.href = data.Url; // your action should return an object having [redirecturl] property
            }
        });
    });

</script>