
@{
    ViewBag.Title = "VehicleMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContext.Current.Response.Cache.SetAllowResponseInBrowserHistory(false);
    HttpContext.Current.Response.Cache.SetCacheability(HttpCacheability.NoCache);
}

<link href="@Url.Content("~/Content/MenuWithSubmenu.css")" rel="stylesheet" type="text/css" />
<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MainMenu">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Vehicle Menu</li>
    </ol>
</nav>

@Html.Partial("_ProfilePartial")
<div id="menuwithSub_wrapper">
    <ul id="menuwithSub_left">
        <!--<li class="menu_item">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="menu_item">@Html.ActionLink("About", "About", "Home")</li>
        <li class="menu_item">@Html.ActionLink("Contact", "Contact", "Home")</li>-->
        <ul class="newmenu_item">
            <p>@Html.ActionLink("Vehicles", "Index", "Vehicles")</p>
            <li class="newsubMenu_item">
                <p style="margin-left: 6vh !important">@Html.ActionLink("Vehicle Services", "Index", "VehicleServices")</p>
            </li>
            <li class="newsubMenu_item">
                <p style="margin-left: 6vh !important">@Html.ActionLink("Vehicle Bookings", "Index", "VehicleBookings")</p>
            </li>
            @*<li class="newsubMenu_item">
                <p>View Available Booking Slots</p>
            </li>*@
            <li>
                <p style="margin-left: 6vh !important">@Html.ActionLink("Vehicle Schedules", "Index", "VehicleSchedules")</p>
            </li>
            <li>
                <p style="margin-left: 6vh !important">@Html.ActionLink("Vehicle Types", "Index", "VehicleTypes")</p>
            </li>
        </ul>
    </ul>
    <div id="menuwithSub_right">
        <img src="~/Content/CompuData(Transparent).png" />

        <h1>CompuData</h1>
    </div>
</div>

<div id="backButton" onclick="window.location.href = '@Url.Action("Index", "MainMenu")'">Back</div>



<script>

</script>