
@{
    ViewBag.Title = "AddVenueBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContext.Current.Response.Cache.SetAllowResponseInBrowserHistory(false);
    HttpContext.Current.Response.Cache.SetCacheability(HttpCacheability.NoCache);
}
<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MainMenu">Home</a></li>
        <li class="breadcrumb-item"><a href="../VenueMenu">Building & Venue Menu</a></li>
        <li class="breadcrumb-item"><a href="../VenueBookings">Venue Bookings</a></li>
        <li class="breadcrumb-item"><a href="../SelectVenue">Select Venue</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Venue Booking</li>
    </ol>
</nav>
@Html.Partial("_ProfilePartial")
@{Session["Referrer"] = System.IO.Path.GetFileName(Request.Url.AbsolutePath);
            Session["Query"] = Request.Url.Query;}
<div id="table_background">
    <h2>Venue Bookings</h2>
    <div id="calendar"></div>
    <div id="backButton" onclick="window.location.href = '@Url.Action("Index", "SelectVenue")'">Back</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                                <span class="glyphicon glyphicon-pencil"></span> Edit
                            </button>
                        </div>
                        <div class="col text-right">
                            <button id="btnRemove" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </div>
                    </div>
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="createEventModal" class="modal fade">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add Venue Booking</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <div class="form-group">
                        <input type="text" id="bookingLocation" class="form-control" />
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="bookingStartTime">Start Time:</label>
                            <input type="text" id="bookingStartTime" class="form-control" />
                        </div>
                        <div class="form-group col pull-right">
                            <label for="bookingEndTime">End Time:</label>
                            <input type="text" id="bookingEndTime" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="bookingPeople">People attending:</label>
                            <input type="number" id="bookingPeople" class="form-control" min="0" value="0" />
                        </div>
                        <div class="form-group col">
                            <label for="bookingProject">Project:</label>
                            @Html.DropDownList("Projects", (IEnumerable<SelectListItem>)ViewBag.Projects, new { id = "ddlProjects", @class = "form-control" })
                        </div>
                        <div class="form-group col pull-right">
                            <label for="bookingUser">Host:</label>
                            @Html.DropDownList("Users", (IEnumerable<SelectListItem>)ViewBag.Users, new { id = "ddlUsers", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModalSave" class="modal fade" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Edit Venue Booking</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                </div>
                <div id="modalBody" class="modal-body">
                    <div class="form-group">
                        <label for="bookingLocationEdit">Venue Location:</label>
                        <input type="text" id="bookingLocationEdit" class="form-control" />
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="bookingStartTimeEdit">Start Time:</label>
                            <input type="text" id="bookingStartTimeEdit" class="form-control" />
                        </div>
                        <div class="form-group col pull-right">
                            <label for="bookingEndTimeEdit">End Time:</label>
                            <input type="text" id="bookingEndTimeEdit" class="form-control" />
                            <input type="hidden" id="max" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="bookingPeopleEdit">People attending:</label>
                            <input type="number" id="bookingPeopleEdit" class="form-control" min="0" value="0" />
                        </div>
                        <div class="form-group col">
                            <label for="ddlProjectsEdit">Project:</label>
                            @Html.DropDownList("Projects", (IEnumerable<SelectListItem>)ViewBag.Projects, new { id = "ddlProjectsEdit", @class = "form-control" })
                        </div>
                        <div class="form-group col pull-right">
                            <label for="ddlUsersEdit">Host:</label>
                            @Html.DropDownList("Users", (IEnumerable<SelectListItem>)ViewBag.Users, new { id = "ddlUsersEdit", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="submitEditButton">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/jquery.timepicker.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.timepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<style>
    form {
        display: table;
        height: 100%;
        width: 100%;
    }

    .center-block {
        float: none;
    }

    .table-heading {
        color: #0AA633;
    }

    #table_background {
        position: absolute;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(128, 128, 128, 0.95);
        height: auto;
        min-width: 600px;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
    }

    #addButton {
        position: relative;
        display: table;
        margin-left: auto;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #addButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #backButton {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-left: 2vh;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #backButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #breadcrumb {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .breadcrumb-item {
        font-size: 25px;
    }

    .breadcrumb {
        top: 0;
        background-color: #33363b !important;
        padding-left: 60px !important;
    }

    #profile {
        position: relative;
        z-index: 7979;
        margin-left: auto;
        margin-bottom: auto;
        height: 61px;
        width: 20%;
        background-color: #33363b;
        transform: translateX(-3px);
    }

        #profile a {
            display: table;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 25px;
            text-decoration: none !important;
            color: #5a9ad6;
            line-height: 61px;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }

    .glyphicon {
        margin-left: 6px;
    }

    .dropdown-menu {
        background-color: #33363b;
    }

        .dropdown-menu li a {
            color: #5a9ad6;
        }

    #vehiclesTable {
        font-size: 15px;
    }

    h2 {
        text-align: center;
    }

    #calendar {
        background: white;
        border: 10px solid white;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: lightgrey !important;
    }
</style>
<script>
    $(document).ready(function () {
        var events = [];
        var businessHours = [];

        var selectedEvent = null;
        var eventStart = "";
        var venue;
        var building;

        $.ajax({
            type: "GET",
            url: "/AddVenueBooking/GetEvents",
            success: function (data) {
                $.each(data, function (i, v) {
                    events.push({
                        bookingid: v.BookingID,
                        title: v.ProjectName,
                        people: v.People,
                        start: moment(v.DateBooked + " " + moment(v.StartTime).format("HH:mm:ss")).format("MM/DD/YYYY HH:mm:ss"),
                        end: moment(v.DateBooked + " " + moment(v.EndTime).format("HH:mm:ss")).format("MM/DD/YYYY HH:mm:ss"),
                        username: v.UserName,
                        venue: v.Venue,
                        building: v.Building,
                        projectname: v.ProjectName,
                        //color: blue,
                        allDay: false
                    });
                })

                $.ajax({
                    type: "GET",
                    url: "/AddVenueBooking/GetScheduleEvents",
                    success: function (scheduleData) {
                        $.each(scheduleData, function (i, v) {
                            businessHours.push({
                                start: v.start,
                                end: v.end,
                                overlap: false,
                                dow: [v.dow]
                            });
                        })

                        GenerateCalender(events, businessHours);
                    }
                })
            },
            error: function (error) {
                console.log(error);
                alert('failed');
            }
        })

        function GenerateCalender(events, businessHours) {
            $('#calendar').fullCalendar('destroy');
            $('#calendar').fullCalendar({
                themeSystem: 'bootstrap4',
                allDaySlot: false,
                businessHours: businessHours,
                contentHeight: 400,
                defaultDate: new Date(),
                defaultTimedEventDuration: '01:00:00',
                defaultView: 'agendaWeek',
                displayEventTime: false,
                displayEventEnd: false,
                editable: false,
                eventLimit: true,
                eventColor: '#007fff',
                eventConstraint: 'businessHours',
                eventOverlap: false,
                events: events,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                slotDuration: '01:00:00',
                slotEventOverlap: false,
                selectConstraint: 'businessHours',
                selectable: true,
                timeFormat: 'h(:mm)a',
                timezone: 'local',
                select: function (start, end, jsEvent, view) {
                    if (start.isAfter(moment().format("MM/DD/YYYY HH:mm:ss"))) {
                        $.each(businessHours, function (index, b) {
                            if (jQuery.inArray(start.day(), b.dow) != -1) {
                                var startTime = moment(start).format('HH:mm:ss');
                                var inStartTime = moment(b.start).format('HH:mm:ss');
                                var inEndTime = moment(b.end).format('HH:mm:ss');
                                eventStart = start;
                                if (startTime < inEndTime && startTime >= inStartTime) {
                                    $('#bookingStartTime').timepicker({
                                        step: 60,
                                    });
                                    $('#bookingStartTime').timepicker('setTime', moment(start).format("h:mmA"));

                                    venue = events[0].venue;
                                    building = events[0].building;
                                    $('#bookingLocation').val(venue + ", " + building);
                                    $('#bookingLocation').attr('readonly', true);
                                    $('#bookingStartTime').attr('readonly', true);

                                    $('#bookingEndTime').timepicker({
                                        'minTime': moment(start).format("h:mmA"),
                                        'maxTime': moment(b.end).format("h:mmA"),
                                        'showDuration': true,
                                        step: 60
                                    });

                                    $('#bookingEndTime').timepicker('option', {
                                        'minTime': moment(start).format("h:mmA"),
                                        'maxTime': moment(b.end).format("h:mmA"),
                                        'showDuration': true,
                                        step: 60
                                    });

                                    maxTime = moment(b.end).format("h:mmA");

                                    var calendar = $('#calendar').fullCalendar('clientEvents', function (evt) {
                                        return evt.start.format("MM/DD/YYYY") == start.format("MM/DD/YYYY");
                                    });
                                    $.each(calendar, function (index, c) {
                                        if (calendar.length > 1) {
                                            if (moment(c.start).format('HH:mm') > moment(target).format('HH:mm')) {
                                                if (closest == null) {
                                                    closest = moment(c.start).format('H');
                                                } else {
                                                    if (moment(c.start).format('H') < closest) {
                                                        closest = moment(c.start).format('H');
                                                    }
                                                }
                                            }
                                        } else if (start.format("HH:mm") < moment(c.start).format("HH:mm")) {
                                            $('#bookingEndTime').val("");
                                            $('#bookingEndTime').timepicker('option', {
                                                'minTime': start.format("h:mmA"),
                                                'maxTime': moment(c.start).format("h:mmA"),
                                                'showDuration': true,
                                                step: 60
                                            });
                                            maxTime = moment(c.start).format("h:mmA");
                                            return false;
                                        }
                                        if (calendar.length - 1 == index) {
                                            $('#bookingEndTime').val("");
                                            $('#bookingEndTime').timepicker('option', {
                                                'minTime': start.format("h:mmA"),
                                                'maxTime': moment(closest, 'H').format("h:mmA"),
                                                'showDuration': true,
                                                step: 60
                                            });
                                            maxTime = moment(c.start).format("h:mmA");
                                            return false;
                                        }
                                    });

                                    $('#max').val(maxTime);
                                    $('#bookingEndTime').attr('placeholder', moment(start).add(1, 'hour').format("h:mmA") + ', if left empty');
                                    $('#createEventModal').appendTo("body").modal('show');
                                    return false;
                                }
                            }
                        })
                    }
                    else {
                        swal("Cannot book appointments in the past", {
                            icon: 'warning'
                        });
                    }

                },
                eventClick: function (calEvent, jsEvent, view) {
                    //added in code for CRUDS
                    selectedEvent = calEvent;
                    //////////////////////////
                    $('#myModal #eventTitle').text("Booking location: " + calEvent.venue + ", " + calEvent.building);
                    var $description = $('<div/>');
                    $description.append('<p style="display: inline; font-weight:bold"><b>Date Booked for:</b></p> <p style="display: inline; font-weight:550">' + moment(calEvent.datebooked).format("Do MMMM YYYY") + '</p><br>');
                    $description.append('<p style="display: inline; font-weight:bold"><b>Start:</b></p> <p style="display: inline; font-weight:550">' + calEvent.start.format("hh:mma") + '</p><br>');
                    if (calEvent.end != null) {
                        $description.append('<p style="display: inline; font-weight:bold"><b>End:</b></p> <p style="display: inline; font-weight:550">' + calEvent.end.format("hh:mma") + '</p><br>');
                    }
                    $description.append('<p style="display: inline; font-weight:bold"><b>Number of people attending:</b></p> <p style="display: inline; font-weight:550">' + calEvent.people + '</p><br>');
                    $description.append('<p style="display: inline; font-weight:bold"><b>Host of Booking:</b></p> <p style="display: inline; font-weight:550">' + calEvent.username + '</p><br>');
                    $description.append('<p style="display: inline; font-weight:bold"><b>Booking is for Project:</b></p> <p style="display: inline; font-weight:550">' + calEvent.projectname + '</p><br>');
                    $description.append('<p style="display: inline; font-weight:bold"><b>Booking location:</b></p> <p style="display: inline; font-weight:550">' + calEvent.venue + ", " + calEvent.building + '</p><br>');
                    $('#myModal #pDetails').empty().html($description);

                    $("#myModal").appendTo("body").modal('show');
                },
                eventRender: function (event, element) {
                    //$(element).tooltip({ title: event.title });
                    element.popover({
                        title: event.title,
                        html: true,
                        content: event.start.format("Do MMMM YYYY") + "<br />" + event.start.format("H:mma") + "-" + event.end.format("H:mma"),
                        trigger: 'hover',
                        placement: 'top',
                        container: 'body'
                    });
                }
            })
        }

        $('#submitButton').on('click', function (e) {
            // We don't want this to act as a link so cancel the link action
            e.preventDefault();

            doSubmit();
        });

        $('#submitEditButton').on('click', function (e) {
            // We don't want this to act as a link so cancel the link action
            e.preventDefault();

            doEditSubmit();
        });

        $('#btnEdit').on('click', function (e) {
            // We don't want this to act as a link so cancel the link action
            e.preventDefault();

            if (moment(selectedEvent.start).isAfter(moment().format("MM/DD/YYYY HH:mm:ss"))) {
                $("#bookingLocationEdit").val(selectedEvent.venue + ", " + selectedEvent.building);
                $('#bookingLocationEdit').attr('readonly', true);
                $("#bookingStartTimeEdit").val(moment(selectedEvent.start).format('hh:mma'));
                $('#bookingStartTimeEdit').attr('readonly', true);
                
                if (!(selectedEvent.max != null & selectedEvent.max != undefined && selectedEvent.max != 0)) {
                    start = selectedEvent.start;
                    $.each(businessHours, function (index, b) {
                        if (jQuery.inArray(start.day(), b.dow) != -1) {
                            var startTime = moment(start).format('HH:mm:ss');
                            var inStartTime = moment(b.start).format('HH:mm:ss');
                            var inEndTime = moment(b.end).format('HH:mm:ss');
                            eventStart = start;
                            if (startTime < inEndTime && startTime >= inStartTime) {
                                $('#bookingEndTimeEdit').timepicker({
                                    'minTime': moment(start).format("HH:mmA"),
                                    'maxTime': moment(b.end).format("HH:mmA"),
                                    'showDuration': true,
                                    step: 60
                                });

                                $('#bookingEndTimeEdit').timepicker('option', {
                                    'minTime': moment(start).format("HH:mmA"),
                                    'maxTime': moment(b.end).format("HH:mmA"),
                                    'showDuration': true,
                                    step: 60
                                });

                                maxTime = moment(b.end).format("HH:mmA");

                                var calendar = $('#calendar').fullCalendar('clientEvents', function (evt) {
                                    return evt.start.format("MM/DD/YYYY") == start.format("MM/DD/YYYY");
                                });

                                var target = start;
                                var closest;
                                var latestEvent;
                                $.each(calendar, function (index, c) {
                                    if (calendar.length > 1) {
                                        if (latestEvent == null) {
                                            latestEvent = moment(c.start).format('HH');
                                        } else {
                                            if (moment(c.start).format('HH') > latestEvent) {
                                                latestEvent = moment(c.start).format('HH');
                                            }
                                        }
                                    }
                                    else {
                                        latestEvent = moment(c.start).format('HH');
                                    }
                                });

                                if (moment(latestEvent, 'HH').format("HH:mmA") != moment(start).format("HH:mmA")) {
                                    $.each(calendar, function (index, c) {
                                        if (calendar.length > 1) {
                                            if (moment(c.start).format('HH:mm') > moment(target).format('HH:mm')) {
                                                if (closest == null) {
                                                    closest = moment(c.start).format('HH');
                                                } else if (moment(c.start).format('HH') < closest) {
                                                    closest = moment(c.start).format('HH');
                                                }

                                            }
                                        } else if (start.format("HH:mm") < moment(c.start).format("HH:mm")) {
                                            $('#bookingEndTime').val("");
                                            $('#bookingEndTime').timepicker('option', {
                                                'minTime': start.format("HH:mmA"),
                                                'maxTime': moment(c.start).format("HH:mmA"),
                                                'showDuration': true,
                                                step: 60
                                            });
                                            maxTime = moment(c.start).format("HH:mmA");
                                            return false;
                                        }
                                        if (calendar.length - 1 == index) {
                                            if (moment(closest, 'HH').format("HH:mmA") == moment(start).format("HH:mmA") || closest == undefined) {
                                                $('#bookingEndTime').val("");
                                                $('#bookingEndTime').timepicker('option', {
                                                    'minTime': start.format("HH:mmA"),
                                                    'maxTime': maxTime,
                                                    'showDuration': true,
                                                    step: 60
                                                });
                                            } else {
                                                $('#bookingEndTime').val("");
                                                $('#bookingEndTime').timepicker('option', {
                                                    'minTime': start.format("HH:mmA"),
                                                    'maxTime': moment(closest, 'HH').format("HH:mmA"),
                                                    'showDuration': true,
                                                    step: 60
                                                });
                                                maxTime = moment(closest, 'HH').format("HH:mmA");
                                            }

                                            return false;
                                        }
                                    });
                                } else {
                                    $('#bookingEndTime').val("");
                                    $('#bookingEndTime').timepicker('option', {
                                        'minTime': start.format("HH:mmA"),
                                        'maxTime': maxTime,
                                        'showDuration': true,
                                        step: 60
                                    });
                                }
                                if (moment(latestEvent, 'HH').format("HH:mmA") < moment(start).format("HH:mmA")) {
                                    $('#bookingEndTime').val("");
                                    $('#bookingEndTime').timepicker('option', {
                                        'minTime': start.format("HH:mmA"),
                                        'maxTime': maxTime,
                                        'showDuration': true,
                                        step: 60
                                    });
                                }


                                $('#max').val(maxTime);
                                $("#bookingEndTimeEdit").val(moment(selectedEvent.end).format("HH:mma"));
                                $('#bookingEndTimeEdit').attr('placeholder', moment(start).add(1, 'hour').format("HH:mmA") + ', if left empty');
                                return false;
                            }
                        }
                    })
                } else {
                    $("#bookingEndTimeEdit").val(moment(selectedEvent.end).format('HH:mma'));
                    $("#bookingEndTimeEdit").timepicker('option', {
                        'minTime': moment(selectedEvent.end).format('HH:mma'),
                        'maxTime': selectedEvent.max,
                        step: 60
                    });
                }
                
                $("#bookingPeopleEdit").val(selectedEvent.people);

                $("#myModalSave").appendTo("body").modal('show');
            }
            else if (moment(selectedEvent.end).isAfter(moment().format("MM/DD/YYYY HH:mm:ss"))) {
                swal("You cannot edit a Venue Booking while is is currently busy.", { icon: "warning" })
            } else {
                swal("You cannot edit a Venue Booking after it has already happened.", { icon: "info" })
            }
        });

        $('#btnRemove').on('click', function (e) {
            e.preventDefault();

            if (moment(selectedEvent.start).isAfter(moment().format("MM/DD/YYYY HH:mm:ss"))) {
                $('#calendar').fullCalendar('removeEvents', function (evt) {
                    return evt = selectedEvent;
                });

                $.ajax({
                    url: '@Url.Action("Remove", "AddVenueBooking")',
                    type: 'POST',
                    data: "{ bookingID: " + JSON.stringify(selectedEvent.bookingid) + "}",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        if (data.ResultValue != "Error") {
                            swal("The Venue Booking has successfully been removed", { icon: "success" });
                        } else {
                            swal("Something went wrong.", { icon: "error" });
                        }
                    }
                });

                $("#myModal").modal('hide');
            } else if (moment(selectedEvent.end).isAfter(moment().format("MM/DD/YYYY HH:mm:ss"))) {
                swal("You cannot remove a Venue Booking while is is currently busy.", { icon: "warning" });
            } else {
                swal("You cannot remove a Venue Booking after it has already happened.", { icon: "warning" });
            }
        });

        function doSubmit() {
            $("#createEventModal").modal('hide');
            var start = moment(eventStart).format("MM/DD/YYYY HH:mm:ss");
            var startHour = moment(start).hour();
            getEndHour = function () {
                var startVal = $('#bookingStartTime').val();
                var val = $('#bookingEndTime').val()

                if (val == startVal || val == "") {
                    return moment(eventStart).add(1, 'hour').hour();
                }
                else {
                    return moment(val, "HH:mma").hour();
                }
            }
            var endHour = getEndHour();
            var end = moment(eventStart).add(endHour - startHour, 'hour').format("MM/DD/YYYY HH:mm:ss");
            var people;

            if ($('#bookingPeople') == "" || $('#bookingPeople') == null) {
                people = 0;
            }
            else {
                people = $('#bookingPeople').val();
            }

            var events = $("#calendar").fullCalendar('clientEvents');
            var latestID;

            $.each(events, function (index, e) {
                if (latestID == 0 || latestID == null || latestID == undefined) {
                    latestID = e.bookingid;
                } else if (e.bookingid > latestID) {
                    latestID = e.bookingid;
                }
            });

            var object = {
                BookingID: latestID + 1,
                VenueBookingID: latestID + 1,
                NumberofPeople: people,
                DateBooked: moment(start).format('MM/DD/YYYY'),
                StartTime: moment(start).format('HH:mm:ss'),
                EndTime: moment(end).format('HH:mm:ss'),
                UserID: $('#ddlUsers option:selected').val(),
                ProjectID: $('#ddlProjects option:selected').val()
            };

            $("#calendar").fullCalendar('renderEvent',
                {
                    title: $('#ddlProjects option:selected').text(),
                    people: people,
                    start: start,
                    end: end,
                    username: $('#ddlUsers option:selected').text(),
                    venue: venue,
                    building: building,
                    projectname: $('#ddlProjects option:selected').text(),
                    max: $('#max').val(),
                    allDay: false
                },
                true);

            $.ajax({
                url: '@Url.Action("Add", "AddVenueBooking")',
                type: 'POST',
                data: '{booking: ' + JSON.stringify(object) + '}',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.ResultValue != "Error") {
                        swal("The Venue Booking has successfully been added", { icon: "success" });
                    } else {
                        swal("Something went wrong.", { icon: "error" });
                    }
                }
            });

            $('#bookingPeople').val("0");
        }

        function doEditSubmit() {
            $("#myModalSave").modal('hide');

            calendar = selectedEvent;
            calendar.end = moment(moment(calendar.start.format("MM/DD/YYYY") + " " + $('#bookingEndTimeEdit').val(), "MM/DD/YYYY h:mma").format("MM/DD/YYYY HH:mm:ss"));
            calendar.title = $('#ddlProjects option:selected').text();
            calendar.projectname = $('#ddlProjectsEdit option:selected').text();
            calendar.username = $('#ddlUsersEdit option:selected').text();
            calendar.allDay = false;

            var object = {
                BookingID: selectedEvent.bookingid,
                EndTime: moment($('#bookingEndTimeEdit').val(), 'h:mma').format('HH:mm:ss'),
                UserID: $('#ddlUsersEdit option:selected').val(),
                ProjectID: $('#ddlProjectsEdit option:selected').val()
            };

            $.ajax({
                url: '@Url.Action("Edit", "AddVenueBooking")',
                type: 'POST',
                data: '{booking: ' + JSON.stringify(object) + '}',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.ResultValue != "Error") {
                        swal("The Venue Booking has successfully been updated", { icon: "success" });
                    } else {
                        swal("Something went wrong.", { icon: "error" });
                    }
                }
            });

            $("#calendar").fullCalendar('updateEvent', calendar);
        }

        // Select your input element.
        var number = document.getElementById('bookingPeople');
        var numberEdit = document.getElementById('bookingPeopleEdit');

        // Listen for input event on numInput.
        number.onkeydown = function (e) {
            if (!((e.keyCode > 95 && e.keyCode < 106)
              || (e.keyCode > 47 && e.keyCode < 58)
              || e.keyCode == 8)) {
                return false;
            }
        }

        numberEdit.onkeydown = function (e) {
            if (!((e.keyCode > 95 && e.keyCode < 106)
              || (e.keyCode > 47 && e.keyCode < 58)
              || e.keyCode == 8)) {
                return false;
            }
        }
    })
</script>