<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home</title>
    <link href="@Url.Content("~/Content/MenuWithBreadCrumb.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link href="@Url.Content("~/bootstrap4-glyphicons-master/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf8" src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/ResizeSensor.js"></script>
    <script src="~/Scripts/ElementQueries.js"></script>
    @RenderSection("Styles", false)
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

</head>

<body>
    <div id="site_wrapper">
        <div class="header">
            <img class="logo" src="~/Content/CompuData(Transparent).png"></img>
            <div class="current_action_name">CompuData</div>
        </div>
        <div id="menu_toggle__wrapper">
            <div class="menu_toggle__line" id="mnu1"></div>
            <div class="menu_toggle__line" id="mnu2"></div>
            <div class="menu_toggle__line" id="mnu3"></div>
        </div>
        <div id="menu_wrapper">
            <ul id="menu_left">
                <li class="menu_item">@Html.ActionLink("Procurement", "Index", "ProcurementMenu")</li>
                <li class="menu_item">@Html.ActionLink("Equipment Management", "Index", "EquipmentManagementMenu")</li>
                <li class="menu_item">@Html.ActionLink("Vehicles", "Index", "VehicleMenu")</li>
                <li class="menu_item">@Html.ActionLink("Donations", "Index", "DonationsMenu")</li>
                <li class="menu_item">@Html.ActionLink("Project Management", "Index", "ProjectManagementMenu")</li>
                <li class="menu_item">@Html.ActionLink("User", "Index", "AccessLevel")</li>
                <li class="menu_item">@Html.ActionLink("Buildings & Venues", "Index", "VenueMenu")</li>
                <li class="menu_item">@Html.ActionLink("Funders", "Index", "FundersMenu")</li>
                <li class="menu_item">@Html.ActionLink("Donors", "Index", "DonorsMenu")</li>
                <li class="menu_item">@Html.ActionLink("Reporting", "Index", "ReportsMain")</li>
                <li class="menu_item">@Html.ActionLink("Backup & Restore", "Index", "BackupRestoreMenu")</li>
            </ul>
            <div id="menu_right">
                <img src="~/Content/CompuData(Transparent).png" />
                <h1>CompuData</h1>
            </div>
        </div>
        <div id="landing">
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            @RenderBody()
        </div>
    </div>
    @*<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript" charset="utf8" src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
<footer class="footer">
    <p>&copy; @DateTime.Now.Year - CompuData</p>
</footer>
<style>
    .ui-datepicker {
        background-color: white;
    }
</style>
<script>
    menuToggle = $('#menu_toggle__wrapper');
    menu = $('#menu_wrapper');

    menuToggle.on('click', () => {
        menuToggle.toggleClass('active');
        menu.toggleClass('active');
    });

    $(document).ready(function () {
        var contentPlacement = $('.header').height();
        $('#menu_toggle__wrapper').css('margin-top', contentPlacement);
    });

    $(document).ready(function () {
        var contentPlacement = $('.header').height();
        $('#landing').css('margin-top', contentPlacement);
    });

    $(document).ready(function () {
        var contentPlacement = $('.footer').height();
        $('#backButton').css('margin-bottom', contentPlacement);
    });

    $(document).ready(function () {
        $(".breadcrumb").css("margin-bottom", "0");
    });

    var contentSize = $("#breadcrumb").height();
    $("#profile").css("height", contentSize);
    $("#profile>a").css("cssText", "line-height: " + contentSize + "px !important;");

    var element = document.getElementById('breadcrumb');
    new ResizeSensor(element, function () {
        var contentSize = $("#breadcrumb").height();
        $("#profile").css("height", contentSize);
        $("#profile>a").css("cssText", "line-height: " + contentSize + "px !important;");
    });

    if (localStorage.getItem("Sent") == undefined || localStorage.getItem("Sent") == null) {
        localStorage.setItem("Sent", new Date());

        $.ajax({
            url: '@Url.Action("NotifyDonorTY", "Notify")',
            success: function () {

            }
        });
        $.ajax({
            url: '@Url.Action("NotifyFunderTY", "Notify")',
            success: function () {

            }
        });
    } else {
        var date2 = new Date();
        var date1 = localStorage.getItem("Sent");
        var diff = Math.round((date2 - date1) / (1000 * 60 * 60 * 24));

        if (diff >= 2) {
            localStorage.setItem("Sent", new Date());

            $.ajax({
                url: '@Url.Action("NotifyDonorTY", "Notify")',
                success: function () {

                }
            });
            $.ajax({
                url: '@Url.Action("NotifyFunderTY", "Notify")',
                success: function () {

                }
            });
        }
    }
</script>
<!--<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>-->
