
@{
    ViewBag.Title = "AddEquipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model CompuData.Models.Equipment
    HttpContext.Current.Response.Cache.SetAllowResponseInBrowserHistory(false);
    HttpContext.Current.Response.Cache.SetCacheability(HttpCacheability.NoCache);
}

<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MainMenu/Index">Home</a></li>
        <li class="breadcrumb-item"><a href="../EquipmentManagementMainMenu/EquipmentManagementMainMenu">Equipment Menu</a></li>
        <li class="breadcrumb-item"><a href="../Equipments/Index">Equipments</a></li>
        <li class="breadcrumb-item"><a href="../SelectUser/Index">Select User</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Equipment</li>
    </ol>
</nav>
@Html.Partial("_ProfilePartial")
<div id="details_holder">
    @using (@Html.BeginForm("Create", "AddEquipment", FormMethod.Post, new { id = "myForm" }))
    {
        <p>Equipment Details</p>
        @Html.HiddenFor(model => model.EquipmentID)
        <div>
            <p>Manufacturer Name:</p>
            @Html.EditorFor(model => model.ManufacturerName)
        </div>
        @Html.ValidationMessageFor(model => model.ManufacturerName)
        <div>
            <p>Model Number:</p>
            @Html.EditorFor(model => model.ModelNumber)
        </div>
        @Html.ValidationMessageFor(model => model.ModelNumber)
        <div>
            <p>Date Purchased:</p>
            @Html.EditorFor(model => model.DatePurchased, new { @class = "form-control", @id = "datepicker1", placeholder = "Please Enter Date" })
        </div>
        @Html.ValidationMessageFor(model => model.DatePurchased)
        <div>
            <p>Service Interval in Months:</p>
            @Html.EditorFor(model => model.ServiceIntervalMonths, new { htmlAttributes = new { @type = "number", @min = "0" } })
        </div>
        @Html.ValidationMessageFor(model => model.ServiceIntervalMonths)
        <div>
            <p>Equipment Type:</p>
            @Html.DropDownListFor(model => model.TypeID, new SelectList(Model.EquipmentTypes, "TypeID", "TypeName"))
        </div>
        @Html.ValidationMessageFor(model => model.TypeID)
        <div id="multipleButtons">
            <div id="addButton">Add Equipment Type</div>
            <div id="addButton">Add Equipment</div>
        </div>
    }
</div>
<div id="backButton" onclick="window.location.href = '@Url.Action("Index", "SelectUser")'">Back</div>
<style>
    .datepicker {
        background-color: white;
    }
    form {
        top: 0;
        left: 0;
    }

    .field-validation-error {
        display: block;
        word-wrap: break-word;
        margin-left: 50%;
    }

    #details_holder {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(128, 128, 128, 0.95);
        height: auto;
        min-width: 600px;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
    }

        #details_holder p {
            font-size: 25px;
            text-align: center;
            flex: 1;
        }

        #details_holder div {
            display: flex;
            flex-direction: row;
            height: 2.25em;
        }

            #details_holder div p {
                font-size: 20px;
                flex: 50%;
                text-align: left;
                vertical-align: middle;
                padding: 0;
                margin: 0;
            }

            #details_holder div input {
                flex: 50%;
            }

            #details_holder div select {
                flex: 50%;
            }

            #details_holder div button {
                background-color: white;
                flex: 50%;
            }

    .gj-datepicker {
        flex: 50%;
    }

    .gj-datepicker-md [role=right-icon] {
        top: 0.25em;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }

    #typeDropDown {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }

    #addButton {
        position: relative;
        display: inline-block !important;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        transition: background-color linear 0.5s;
        line-height: 50%;
    }

        #addButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #backButton {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-left: 2vh;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #backButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #breadcrumb {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .breadcrumb-item {
        font-size: 25px;
    }

    .breadcrumb {
        top: 0;
        background-color: #33363b !important;
        padding-left: 60px !important;
    }

    #profile {
        position: relative;
        z-index: 7979;
        margin-left: auto;
        margin-bottom: auto;
        height: 61px;
        width: 20%;
        background-color: #33363b;
        transform: translateX(-3px);
    }

        #profile a {
            display: table;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 25px;
            text-decoration: none !important;
            color: #5a9ad6;
            line-height: 61px;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }

    .glyphicon {
        margin-left: 6px;
    }

    .dropdown-menu {
        background-color: #33363b;
    }

        .dropdown-menu li a {
            color: #5a9ad6;
        }
</style>
<script type="text/javascript">
    $('#DatePurchased').datepicker();
    $('#DatePurchased').datepicker("setDate", new Date());

    $("#addButton").click(function (event) {
        swal({
            title: "Are you sure?",
            icon: "info",
            buttons: [
                true,
                "Yes",
            ],
            closeOnClickOutside : false,
        })
        .then((willDelete) => {
            if (willDelete) {
                $('#myForm').submit();
            }
        });
    });

    $("#addButton").css({ 'flex-basis': ''});
</script>

