
@{
    ViewBag.Title = "VenueMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContext.Current.Response.Cache.SetAllowResponseInBrowserHistory(false);
    HttpContext.Current.Response.Cache.SetCacheability(HttpCacheability.NoCache);
}

<link href="@Url.Content("~/Content/MenuWithSubmenu.css")" rel="stylesheet" type="text/css" />
<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MainMenu">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Buildings & Venue Menu</li>
    </ol>
</nav>
@Html.Partial("_ProfilePartial")
<div id="menuwithSub_wrapper">
    <ul id="menuwithSub_left">
        <ul class="newmenu_item" style="margin-top: auto !important; margin-bottom: 0 !important;">
            <p>@Html.ActionLink("Buildings", "Index", "Buildings")</p>
        </ul>
        <ul class="newmenu_item" style="margin-top: 0 !important; margin-bottom: 0 !important;">
            <p>@Html.ActionLink("Venues", "Index", "Venues")</p>
            <li class="newsubMenu_item">
                <p style="margin-left: 6vh !important">@Html.ActionLink("Venue Bookings", "Index", "VenueBookings")</p>
            </li>
            <li class="newsubMenu_item">
                <p style="margin-left: 6vh !important">@Html.ActionLink("Venue Schedules", "Index", "VenueSchedules")</p>
            </li>
        </ul>
        <ul class="newmenu_item" style="margin-top: 0 !important; margin-bottom: auto !important;">
            <p>@Html.ActionLink("Refreshments", "Index", "Refreshment")</p>
            <li class="newsubMenu_item">
                <p style="margin-left: 6vh !important">@Html.ActionLink("Venue Booking Refreshments", "Index", "VenueBookingRefreshments")</p>
            </li>
        </ul>
    </ul>
    <div id="menuwithSub_right">
        <img src="~/Content/CompuData(Transparent).png" />

        <h1>CompuData</h1>
    </div>
</div>

<div id="backButton" onclick="window.location.href = '@Url.Action("Index", "MainMenu")'">Back</div>
<style>
    #breadcrumb {
        position: absolute;
        left: 0px;
        top: 0px;
        height: auto;
        width: 80%;
        z-index: 9000;
    }

    .breadcrumb-item {
        font-size: 20px;
    }

        .breadcrumb-item a {
            text-decoration: none;
            color: #5a9ad6 !important;
        }

    .breadcrumb {
        top: 0;
        background-color: #33363b !important;
        padding-left: 60px !important;
        margin-bottom: 0 !important;
    }

    #profile {
        position: relative;
        z-index: 7979;
        margin-left: auto;
        margin-bottom: auto;
        height: 61px;
        width: 20%;
        background-color: #33363b;
        transform: translateX(-3px);
    }

        #profile a {
            display: table;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 20px;
            text-decoration: none !important;
            color: #5a9ad6;
            line-height: 61px;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }

    .glyphicon {
        margin-left: 6px;
    }

    .dropdown-menu {
        background-color: #33363b;
    }

        .dropdown-menu li a {
            color: #5a9ad6;
        }
    
    .newmenu_item>p {
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
    }
</style>
<script>

</script>