
@{
    ViewBag.Title = "SelectVenue";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContext.Current.Response.Cache.SetAllowResponseInBrowserHistory(false);
    HttpContext.Current.Response.Cache.SetCacheability(HttpCacheability.NoCache);
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MainMenu">Home</a></li>
        <li class="breadcrumb-item"><a href="../VenueMenu">Building & Venue Menu</a></li>
        @if (Session["Referrer"] != null ? Session["Referrer"].ToString() == "VenueSchedules" : false)
        {
            <li class="breadcrumb-item"><a href="../VenueSchedules">Venue Schedules</a></li>
        }
        else if (Session["Referrer"] != null ? Session["Referrer"].ToString() == "VenueBookings" || Session["Referrer"].ToString() == "AddVenueBooking" : false)
        {
            <li class="breadcrumb-item"><a href="../VenueBookings">Venue Bookings</a></li>
        }
        <li class="breadcrumb-item active" aria-current="page">Select Venue</li>
    </ol>
</nav>
@Html.Partial("_ProfilePartial")
<div id="table_background">
    @if (Session["Referrer"] != null ? Session["Referrer"].ToString() == "VenueBookings" : false)
    {
        <p>Select Venue for Booking</p>
    }
    <table id="vehiclesTable" class="display" width="100%"></table>
    @if (Session["Referrer"] != null ? Session["Referrer"].ToString() == "AddVenueBooking" : false)
    {
        <div id="backButton" onclick="window.location.href = '@Url.Action("Index", "VenueBookings")'">Back</div>
    }
    else
    {
        <div id="backButton" onclick="window.location.href = '@Url.Action("Index", Session["Referrer"] != null ? Session["Referrer"].ToString() : "VenueMenu")'">Back</div>
    }
</div>
<style>
    #table_background p {
        font-size: 25px;
        text-align: center;
    }

    #table_background {
        position: absolute;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(128, 128, 128, 0.95);
        height: auto;
        min-width: 600px;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
    }

    #vehiclesTable {
        font-size: 12px;
        background-color: #5a9ad6;
    }

    #addButton {
        position: relative;
        display: table;
        margin-left: auto;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #addButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #backButton {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-left: 2vh;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #backButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #breadcrumb {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .breadcrumb-item {
        font-size: 25px;
    }

    .breadcrumb {
        top: 0;
        background-color: #33363b !important;
        padding-left: 60px !important;
    }

    #profile {
        position: relative;
        z-index: 7979;
        margin-left: auto;
        margin-bottom: auto;
        height: 61px;
        width: 20%;
        background-color: #33363b;
        transform: translateX(-3px);
    }

        #profile a {
            display: table;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 25px;
            text-decoration: none !important;
            color: #5a9ad6;
            line-height: 61px;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }

    .glyphicon {
        margin-left: 6px;
    }

    .dropdown-menu {
        background-color: #33363b;
    }

        .dropdown-menu li a {
            color: #5a9ad6;
        }
</style>
<script>
    var table;
    $(document).ready(function () {
        table = $('#vehiclesTable').DataTable({
            serverSide: true,
            ajax: "/Venues/PageData",
            autoWidth: true,
            scrollX: true,
            select: {
                style: 'single'
            },
            columns: [
                {
                    name: 'venueID',
                    data: 'venueID',
                    title: "ID",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'name',
                    data: "name",
                    title: "Venue Name",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'buildingName',
                    data: "buildingName",
                    title: "Building Name",
                    sortable: true,
                    searchable: true
                }
            ]
        });
    });
</script>
@if (Session["Referrer"] != null ? Session["Referrer"].ToString() == "VenueSchedules" : false)
{
    <script>
        $(document).ready(function () {
            $('#vehiclesTable tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                var venueID = data["venueID"];

                $.ajax({
                    url: '@Url.Action("RedirectToAddVenueScheduleDetails", "AddVenueSchedule")',
                    type: 'POST',
                    data: { venueID: venueID },
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = data.Url; // your action should return an object having [redirecturl] property
                    }
                });
            });
        })
    </script>
}
else if (Session["Referrer"] != null ? Session["Referrer"].ToString() == "VenueBookings" || Session["Referrer"].ToString() == "AddVenueBooking" : false)
{
    <script>
        $(document).ready(function () {
            $('#vehiclesTable tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                var venueID = data["venueID"];

                $.ajax({
                    url: '@Url.Action("RedirectToAddVenueBooking", "AddVenueBooking")',
                    type: 'POST',
                    data: { venueID: venueID },
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = data.Url; // your action should return an object having [redirecturl] property
                    }
                });
            });
        })
    </script>
}