
@{
    ViewBag.Title = "SelectVehicleForVehicleService";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContext.Current.Response.Cache.SetAllowResponseInBrowserHistory(false);
    HttpContext.Current.Response.Cache.SetCacheability(HttpCacheability.NoCache);
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MainMenu">Home</a></li>
        <li class="breadcrumb-item"><a href="../VehicleMenu">Vehicle Menu</a></li>
        @if (Session["Referrer"] != null ? Session["Referrer"].ToString() == "VehicleServices" : false)
        {
            <li class="breadcrumb-item"><a href="../VehicleServices">Vehicle Services</a></li>
        }
        else if (Session["Referrer"] != null ? Session["Referrer"].ToString() == "VehicleSchedules" : false)
        {
            <li class="breadcrumb-item"><a href="../VehicleSchedules">Vehicle Schedules</a></li>
        }
        else if (Session["Referrer"] != null ? Session["Referrer"].ToString() == "VehicleBookings" : false)
        {
            <li class="breadcrumb-item"><a href="../VehicleBookings">Vehicle Bookings</a></li>
        }
        <li class="breadcrumb-item active" aria-current="page">Select Vehicle</li>
    </ol>
</nav>
@Html.Partial("_ProfilePartial")
<div id="table_background">
    @if (Session["Referrer"] != null ? Session["Referrer"].ToString() == "VehicleBookings" : false)
    {
        <p>Select Vehicle for Vehicle Booking</p>
    }
    <table id="vehiclesTable" class="display"></table>
    <div id="backButton" onclick="window.location.href = '@Url.Action("Index", Session["Referrer"] != null ? Session["Referrer"].ToString() : "VehicleMenu")'">Back</div>
</div>
<style>
    #table_background p {
        font-size: 25px;
        text-align: center;
    }

    #table_background {
        position: absolute;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(128, 128, 128, 0.95);
        height: auto;
        min-width: 600px;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
    }

    #vehiclesTable {
        font-size: 12px;
        background-color: #5a9ad6;
    }

    #addButton {
        position: relative;
        display: table;
        margin-left: auto;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #addButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #backButton {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-left: 2vh;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #backButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #breadcrumb {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .breadcrumb-item {
        font-size: 25px;
    }

    .breadcrumb {
        top: 0;
        background-color: #33363b !important;
        padding-left: 60px !important;
    }

    #profile {
        position: relative;
        z-index: 7979;
        margin-left: auto;
        margin-bottom: auto;
        height: 61px;
        width: 20%;
        background-color: #33363b;
        transform: translateX(-3px);
    }

        #profile a {
            display: table;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 25px;
            text-decoration: none !important;
            color: #5a9ad6;
            line-height: 61px;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }

    .glyphicon {
        margin-left: 6px;
    }

    .dropdown-menu {
        background-color: #33363b;
    }

        .dropdown-menu li a {
            color: #5a9ad6;
        }
</style>
<script>
    var table;
    $(document).ready(function () {
        table = $('#vehiclesTable').DataTable({
            serverSide: true,
            ajax: "/Vehicles/PageData",
            autoWidth: true,
            scrollX: true,
            select: {
                style: 'single'
            },
            columns: [
                {
                    name: 'vehicleID',
                    data: 'vehicleID',
                    title: "ID",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'brand',
                    data: "brand",
                    title: "Brand",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'model',
                    data: "model",
                    title: "Model",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'numberPlate',
                    data: "numberPlate",
                    title: "Number Plate",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'dateofPurchase',
                    data: "dateofPurchase",
                    title: "Date of Purchase",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'dateofLastRepair',
                    data: "dateofLastRepair",
                    title: "Date of Last Repair",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'dateofLicencePurchase',
                    data: "dateofLicencePurchase",
                    title: "Date of Licence Purchase",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'licenseExpireDate',
                    data: "licenseExpireDate",
                    title: "Licence Expire Date",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'serviceIntervalInMonths',
                    data: "serviceIntervalInMonths",
                    title: "Service Interval in Months",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'serviceIntervalInKMs',
                    data: "serviceIntervalInKMs",
                    title: "Service Interval in KMs",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'typeID',
                    data: "typeName",
                    title: "Type",
                    sortable: true,
                    searchable: true
                },
                {
                    "targets": -1,
                    "data": null,
                    "defaultContent": '<i class="glyphicon glyphicon-eye-open"></i>',
                    sortable: false,
                },
                {
                    "targets": -2,
                    "data": null,
                    "defaultContent": '<i class="glyphicon glyphicon-pencil"></i>',
                    sortable: false,
                },
                {
                    "targets": -3,
                    "data": null,
                    "defaultContent": '<i class="glyphicon glyphicon-trash"></i>',
                    sortable: false,
                }
            ]
        });
    });
</script>
@if (Session["Referrer"] != null ? Session["Referrer"].ToString() == "VehicleServices" : false)
{
    <script>
        $(document).ready(function () {
            $('#vehiclesTable tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                var vehicleID = data["vehicleID"];

                $.ajax({
                    url: '@Url.Action("RedirectToAddVehicleServiceDetails", "AddVehicleService")',
                    type: 'POST',
                    data: { vehicleID: vehicleID },
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = data.Url; // your action should return an object having [redirecturl] property
                    }
                });
            });
        })
    </script>
}
else if (Session["Referrer"] != null ? Session["Referrer"].ToString() == "VehicleSchedules" : false)
{
    <script>
        $(document).ready(function () {
            $('#vehiclesTable tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                var vehicleID = data["vehicleID"];

                $.ajax({
                    url: '@Url.Action("RedirectToAddVehicleScheduleDetails", "AddVehicleSchedule")',
                    type: 'POST',
                    data: { vehicleID: vehicleID },
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = data.Url; // your action should return an object having [redirecturl] property
                    }
                });
            });
        })
    </script>
}
else if (Session["Referrer"] != null ? Session["Referrer"].ToString() == "VehicleBookings" : false)
{
    <script>
        $(document).ready(function () {
            $('#vehiclesTable tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                var vehicleID = data["vehicleID"];

                $.ajax({
                    url: '@Url.Action("RedirectToAddVehicleBooking", "AddVehicleBooking")',
                    type: 'POST',
                    data: { vehicleID: vehicleID },
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = data.Url; // your action should return an object having [redirecturl] property
                    }
                });
            });
        })
    </script>
}

