@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContext.Current.Response.Cache.SetAllowResponseInBrowserHistory(false);
    HttpContext.Current.Response.Cache.SetCacheability(HttpCacheability.NoCache);
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MainMenu">Home</a></li>
        <li class="breadcrumb-item"><a href="../AccessLevel">User Menu</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
</nav>

@Html.Partial("_ProfilePartial")

<div id="table_background">
    <p>Users</p>
    <table id="table_id" class="display" cellspacing="0"></table>
    <div id="multipleButtons">
        <div id="addButton" onclick="window.location.href = '@Url.Action("Index", "AddUser")'">Add User</div>
    </div>
    <div id="backButton" onclick="window.location.href = '@Url.Action("Index", "AccessLevel")'">Back</div>
</div>

<style>
    #table_background p {
        font-size: 25px;
        text-align: center;
    }

    #table_background {
        position: absolute;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(128, 128, 128, 0.95);
        height: auto;
        min-width: 600px;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
    }

    .dataTable {
        background-color: #5a9ad6;
        font-size: 14px;
    }

    #multipleButtons {
        display: flex;
        flex-direction: row;
    }

    #addButton {
        position: relative;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #addButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #addBookingButton {
        position: relative;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #addBookingButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #backButton {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-left: 2vh;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #backButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #breadcrumb {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .breadcrumb-item {
        font-size: 25px;
    }

    .breadcrumb {
        top: 0;
        background-color: #33363b !important;
        padding-left: 60px !important;
    }

    #profile {
        position: relative;
        z-index: 7979;
        margin-left: auto;
        margin-bottom: auto;
        height: 61px;
        width: 20%;
        background-color: #33363b;
        transform: translateX(-3px);
    }

        #profile a {
            display: table;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 25px;
            text-decoration: none !important;
            color: #5a9ad6;
            line-height: 61px;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }

    .glyphicon {
        margin-left: 6px;
    }

    .dropdown-menu {
        background-color: #33363b;
    }

        .dropdown-menu li a {
            color: #5a9ad6;
        }
</style>
<script>
    var table;
    $(document).ready(function () {
        table = $('#table_id').DataTable({
            serverSide: true,
            ajax: "/User/PageData",
            scrollX: true,
            columns: [
                {
                    name: 'userID',
                    data: 'userID',
                    title: "ID",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'firstName',
                    data: "firstName",
                    title: "First Name",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'middleName',
                    data: "middleName",
                    title: "Middle Name",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'lastName',
                    data: "lastName",
                    title: "Last Name",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'initials',
                    data: "initials",
                    title: "Initials",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'nationalID',
                    data: "nationalID",
                    title: "National ID",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'cellNum',
                    data: "cellNum",
                    title: "Cell Num",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'telNum',
                    data: "telNum",
                    title: "Tel Num",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'workNum',
                    data: "workNum",
                    title: "Work Num",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'personalEmail',
                    data: "personalEmail",
                    title: "Personal Email",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'workEmail',
                    data: "workEmail",
                    title: "Work Email",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'streetAddress',
                    data: "streetAddress",
                    title: "Street Address",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'city',
                    data: "city",
                    title: "City",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'areaCode',
                    data: "areaCode",
                    title: "Area Code",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'poAddress',
                    data: "poAddress",
                    title: "PO Address",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'poCity',
                    data: "poCity",
                    title: "PO City",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'poAreaCode',
                    data: "poAreaCode",
                    title: "PO Area Code",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'validLicense',
                    data: "validLicense",
                    title: "Valid License",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'jobTitleName',
                    data: "jobTitleName",
                    title: "Job Title",
                    sortable: true,
                    searchable: true
                },
                {
                    name: 'accessLevelName',
                    data: "accessLevelName",
                    title: "Access Level",
                    sortable: true,
                    searchable: true
                },
                {
                    "targets": -1,
                    "data": null,
                    "defaultContent": '<i class="glyphicon glyphicon-eye-open"></i>',
                    sortable: false,
                },
                {
                    "targets": -2,
                    "data": null,
                    "defaultContent": '<i class="glyphicon glyphicon-pencil"></i>',
                    sortable: false,
                },
                {
                    "targets": -3,
                    "data": null,
                    "defaultContent": '<i class="glyphicon glyphicon-trash"></i>',
                    sortable: false,
                },         
                {
                    "targets": -4,
                    "data": null,
                    "defaultContent": '<i class="glyphicon glyphicon-camera"></i>',
                    sortable: false,
                }
            ]
        });
    });

    @Model.JavaScriptToRun
    function mySuccess() {
        swal("You have successfully added a User", {
            icon: "success",
        });
        //window.location = "/Vehicles/Index";
    }

    @TempData["js"];
    function myUpdateSuccess() {
        swal("You have successfully updated the User", {
            icon: "success",
        });
    }

    $.ajax({
        type: "POST",
        url: '@Url.Action("SetTempData","User")',
        success: function () {

        }
    });

    $('#table_id').on('click', '.glyphicon-eye-open', function () {
        var data = table.row($(this).parents('tr')).data();
        var userID = data["userID"];

        $.ajax({
            url: '@Url.Action("RedirectToUserDetails", "UserDetails")',
            type: 'POST',
            data: { userID: userID },
            dataType: 'json',
            success: function (data) {
                window.location.href = data.Url; // your action should return an object having [redirecturl] property
            }
        });
    });

    $('#table_id').on('click', '.glyphicon-pencil', function () {
        var data = table.row($(this).parents('tr')).data();
        var userID = data["userID"];
        @{Session["Referrer"] = System.IO.Path.GetFileName(Request.Url.AbsolutePath);}

        $.ajax({
            url: '@Url.Action("RedirectToModifyUserDetails", "UserModify")',
            type: 'POST',
            data: { userID: userID },
            dataType: 'json',
            success: function (data) {
                window.location.href = data.Url;
            }
        });
    });

    $('#table_id').on('click', '.glyphicon-camera', function () {
        var data = table.row($(this).parents('tr')).data();
        var userID = data["userID"];
    @{Session["Referrer"] = System.IO.Path.GetFileName(Request.Url.AbsolutePath);}

        $.ajax({
            url: '@Url.Action("RedirectToUserUploadFileDetails", "UploadPicture")',
            type: 'POST',
            data: { userID: userID },
            dataType: 'json',
            success: function (data) {
                window.location.href = data.Url;
            }
        });
    });

    $('#table_id').on('click', '.glyphicon-trash', function () {
        var data = table.row($(this).parents('tr')).data();
        var userID = data["userID"];

        swal({
            title: "Are you sure you want to delete this User?",
            icon: "warning",
            dangerMode: true,
            buttons: [
                true,
                "Yes",
            ],
            closeOnClickOutside: false,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '@Url.Action("Delete", "User")',
                        type: 'POST',
                        data: { userID: userID },
                        dataType: 'json',
                        success: function (data) {
                            if (data.Url != "Cascading error!") {
                                swal("You have successfully deleted the User", {
                                    icon: "success",
                                });
                                window.location.href = data.Url;
                            }
                            else {
                                swal("Cannot delete this due to it being used somewhere else in the system!", {
                                    icon: "warning",
                                });
                            }
                        }
                    });
                }
            });
    });

    //$('.swal-icon--warning').css("border", "4px solid red !important");

    @*window.onload = function() {
        window.location.href = '@Url.Action("Index", "VehicleServices")';
    }*@
</script>