@{
    ViewBag.Title = "Index";
    @model CompuData.Models.Donor_Person
}

<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MainMenu/Index">Home</a></li>
        <li class="breadcrumb-item"><a href="../DonorsMenu/Index">Donors</a></li>
        <li class="breadcrumb-item"><a href="../DonorPerson/Index">Donors - Person</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Donors - Person</li>
    </ol>
</nav>

<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

@Html.Partial("_ProfilePartial")

<div id="details_holder">

    @using (@Html.BeginForm("Create", "AddDonorPerson", FormMethod.Post, new { id = "myForm" }))
    {
        <p>Add Donors - Person</p>
        @Html.HiddenFor(model => model.DonorPID)
        <div>
            <p>First Name:</p>
            @Html.EditorFor(model => model.FirstName)
        </div>
        @Html.ValidationMessageFor(model => model.FirstName)
        <div>
            <p>Middle Name:</p>
            @Html.EditorFor(model => model.MiddleName)
        </div>
        @Html.ValidationMessageFor(model => model.MiddleName)
        <div>
            <p>Second Name:</p>
            @Html.EditorFor(model => model.SecondName)
        </div>
        @Html.ValidationMessageFor(model => model.SecondName)
        <div>
            <p>Initials:</p>
            @Html.EditorFor(model => model.Initials)
        </div>
        @Html.ValidationMessageFor(model => model.Initials)
        <div>
            <p>Cell Number:</p>
            @Html.EditorFor(model => model.CellNum)
        </div>
        @Html.ValidationMessageFor(model => model.CellNum)
        <div>
            <p>Personal Email:</p>
            @Html.EditorFor(model => model.PersonalEmail)
        </div>
        @Html.ValidationMessageFor(model => model.PersonalEmail)
        <div>
            <p>Thanked:</p>
            @Html.EditorFor(model => model.Thanked)
        </div>
        @Html.ValidationMessageFor(model => model.Thanked)
        <div>
            <p>Street Address:</p>
            @Html.EditorFor(model => model.StreetAddress)
        </div>
        @Html.ValidationMessageFor(model => model.StreetAddress)
        <div>
            <p>City:</p>
            @Html.EditorFor(model => model.City)
        </div>
        @Html.ValidationMessageFor(model => model.City)
        <div>
            <p>Area Code:</p>
            @Html.EditorFor(model => model.AreaCode)
        </div>
        @Html.ValidationMessageFor(model => model.AreaCode)

        <div id="multipleButtons">
            <div id="addButton">Save and Add Donors - Organization</div>
        </div>
    }
</div>

<div id="backButton" onclick="window.location.href = '@Url.Action("Index", "DonorPerson")'">Back</div>

<style>
    form {
        top: 0;
        left: 0;
    }

    .field-validation-error {
        display: block;
        word-wrap: break-word;
        margin-left: 50%;
    }

    #details_holder {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(128, 128, 128, 0.95);
        height: auto;
        min-width: 600px;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
    }

        #details_holder p {
            font-size: 25px;
            text-align: center;
            flex: 1;
        }

        #details_holder div {
            display: flex;
            flex-direction: row;
            line-height: 30px;
        }

            #details_holder div p {
                font-size: 20px;
                flex: 50%;
                text-align: left;
                vertical-align: middle;
                padding: 0;
                margin: 0;
            }

            #details_holder div input {
                flex: 50%;
            }

            #details_holder div select {
                flex: 50%;
            }

            #details_holder div button {
                background-color: white;
                flex: 50%;
            }

    .gj-datepicker {
        flex: 50%;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }

    #typeDropDown {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }

    #addButton {
        position: relative;
        display: inline-block !important;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #addButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #backButton {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-left: 2vh;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #backButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #breadcrumb {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .breadcrumb-item {
        font-size: 25px;
    }

    .breadcrumb {
        top: 0;
        background-color: #33363b !important;
        padding-left: 60px !important;
    }

    #profile {
        position: relative;
        z-index: 7979;
        margin-left: auto;
        margin-bottom: auto;
        height: 61px;
        width: 20%;
        background-color: #33363b;
        transform: translateX(-3px);
    }

        #profile a {
            display: table;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 25px;
            text-decoration: none !important;
            color: #5a9ad6;
            line-height: 61px;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }

    .glyphicon {
        margin-left: 6px;
    }

    .dropdown-menu {
        background-color: #33363b;
    }

        .dropdown-menu li a {
            color: #5a9ad6;
        }
</style>

<script>
    $("#addButton").click(function (event) {
        swal({
            title: "Are you sure?",
            icon: "info",
            buttons: [
                true,
                "Yes",
            ],
            closeOnClickOutside: false,
        })
        .then((willDelete) => {
            if (willDelete) {
                $('#myForm').submit();
            }
        });
    });

    $("#addButton").css({ 'flex-basis': '' });
</script>