@{
    ViewBag.Title = "AddVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model CompuData.Models.Vehicle
    HttpContext.Current.Response.Cache.SetAllowResponseInBrowserHistory(false);
    HttpContext.Current.Response.Cache.SetCacheability(HttpCacheability.NoCache);
}

<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../MainMenu">Home</a></li>
        <li class="breadcrumb-item"><a href="../VehicleMenu">Vehicle Menu</a></li>
        <li class="breadcrumb-item"><a href="../Vehicles">Vehicles</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Vehicle</li>
    </ol>
</nav>
@Html.Partial("_ProfilePartial")
<div id="details_holder">
@using (@Html.BeginForm("Create", "AddVehicle", FormMethod.Post, new { id = "myForm" }))
{
    <p>Vehicle Details</p>
    @Html.HiddenFor(model => model.VehicleID)
    <div>
        <p>Brand:</p>
        @Html.EditorFor(model => model.Brand)
    </div>
    @Html.ValidationMessageFor(model => model.Brand)
    <div>
        <p>Model:</p>
        @Html.EditorFor(model => model.Model)
    </div>
    @Html.ValidationMessageFor(model => model.Model)
    <div>
        <p>Number Plate:</p>
        @Html.EditorFor(model => model.NumberPlate)
    </div>
    @Html.ValidationMessageFor(model => model.NumberPlate)
    <div>
        <p>Date of Purchase:</p>
        @Html.TextBoxFor(model => model.DateofPurchase, new { @class = "form-control", @id = "datepicker1", placeholder = "Please Enter Date" })
    </div>
    @Html.ValidationMessageFor(model => model.DateofPurchase)
    <div>
        <p>Date of Last Repair:</p>
        @Html.TextBoxFor(model => model.DateofLastRepair, new { @class = "form-control", @id = "datepicker2", placeholder = "Please Enter Date" })
    </div>
    @Html.ValidationMessageFor(model => model.DateofLastRepair)
    <div>
        <p>Date of License Purchase:</p>
        @Html.TextBoxFor(model => model.DateofLicencePurchase, new { @class = "form-control", @id = "datepicker3", placeholder = "Please Enter Date" })
    </div>
    @Html.ValidationMessageFor(model => model.DateofLicencePurchase)
    <div>
        <p>Licence Expire Date:</p>
        @Html.TextBoxFor(model => model.LicenseExpireDate, new { @class = "form-control", @id = "datepicker4", placeholder = "Please Enter Date" })
    </div>
    @Html.ValidationMessageFor(model => model.LicenseExpireDate)
    <div>
        <p>Service Interval in Months:</p>
        @Html.EditorFor(model => model.ServiceIntervalInMonths, new { htmlAttributes = new { @type = "number", @min = "0" } })
    </div>
    @Html.ValidationMessageFor(model => model.ServiceIntervalInMonths)
    <div>
        <p>Service Interval in Kilometres:</p>
        @Html.EditorFor(model => model.ServiceIntervalInKMs, new { htmlAttributes = new { @type = "number", @min = "0"} })
    </div>
    @Html.ValidationMessageFor(model => model.ServiceIntervalInKMs)
    <div>
        <p>Vehicle Type:</p>
        @Html.DropDownListFor(model => model.TypeID, new SelectList(Model.VehicleTypes, "TypeID", "Name"))
    </div>
    @Html.ValidationMessageFor(model => model.TypeID)
    <div id="multipleButtons">
        <div id="addButton">Add Vehicle</div>
    </div>
}
</div>
<div id="backButton" onclick="window.location.href = '@Url.Action("Index", "Vehicles")'">Back</div>
<style>
    form {
        top: 0;
        left: 0;
    }

    .field-validation-error {
        display: block;
        word-wrap: break-word;
        margin-left: 50%;
    }
    
    #details_holder {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(128, 128, 128, 0.95);
        height: auto;
        min-width: 600px;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
    }

        #details_holder p {
            font-size: 25px;
            text-align: center;
            flex: 1;
        }

        #details_holder div {
            display: flex;
            flex-direction: row;
            line-height: 30px;
        }

            #details_holder div p {
                font-size: 20px;
                flex: 50%;
                text-align: left;
                vertical-align: middle;
                padding: 0;
                margin: 0;
            }

            #details_holder div input {
                flex: 50%;
            }

            #details_holder div select {
                flex: 50%;
            }

            #details_holder div button {
                background-color: white;
                flex: 50%;
            }

    .gj-datepicker {
                flex: 50%;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }

    #typeDropDown {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }

    #addButton {
        position: relative;
        display: inline-block !important;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #addButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #backButton {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10000;
        text-decoration: none;
        color: white;
        cursor: pointer;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-left: 2vh;
        box-sizing: border-box;
        border: solid white;
        border-width: 2px;
        border-radius: 50px 50px 50px 50px;
        padding: 10px;
        transition: background-color linear 0.5s;
    }

        #backButton:hover {
            background-color: rgba(0, 255, 255, 0.4);
        }

    #breadcrumb {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .breadcrumb-item {
        font-size: 25px;
    }

    .breadcrumb {
        top: 0;
        background-color: #33363b !important;
        padding-left: 60px !important;
    }

    #profile {
        position: relative;
        z-index: 7979;
        margin-left: auto;
        margin-bottom: auto;
        height: 61px;
        width: 20%;
        background-color: #33363b;
        transform: translateX(-3px);
    }

        #profile a {
            display: table;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            font-size: 25px;
            text-decoration: none !important;
            color: #5a9ad6;
            line-height: 61px;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }

    .glyphicon {
        margin-left: 6px;
    }

    .dropdown-menu {
        background-color: #33363b;
    }

        .dropdown-menu li a {
            color: #5a9ad6;
        }
</style>
<script type="text/javascript">
    $('#datepicker1').datepicker();
    $('#datepicker1').datepicker("setDate", new Date());

    $('#datepicker2').datepicker();
    $('#datepicker2').datepicker("setDate", new Date());

    $("#datepicker3").datepicker("setDate", "+0d");
    $("#datepicker4").datepicker("setDate", "+0d");

    $("#datepicker3").datepicker({
        onSelect: function (selectdate) {
            var dt = new Date(selectdate);
            dt.setDate(dt.getDate() + 1)
            $("#datepicker4").datepicker("option", "minDate", dt);
        }
    });

    $("#datepicker4").datepicker({
        onSelect: function (selectdate) {
            var dt = new Date(selectdate);
            dt.setDate(dt.getDate() - 1)
            $("#datepicker3").datepicker("option", "maxDate", dt);
        }
    });

    $("#addButton").click(function (event) {
        swal({
            title: "Are you sure?",
            icon: "info",
            buttons: [
                true,
                "Yes",
            ],
            closeOnClickOutside : false,
        })
        .then((willDelete) => {
            if (willDelete) {
                $('#myForm').submit();
            }
        });
    });

    $("#addButton").css({ 'flex-basis': ''});
</script>